{% include "admin-includes/header.html" %}{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Booking Information</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item"><a href="{% url 'events:bookings_list' %}" class="white-text">Bookings</a></li>
                        <li class="breadcrumb-item active">View Booking</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                
                <a class="btn btn-secondary ms-3" href="{% url 'events:event_list' %}" ><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="productdetails">
                            <ul class="product-bar">
                                <li>
                                    <h4>Booking Id </h4>
                                    <h6><b>{% if booking.id %}{{booking.id}}{% else %}-{% endif %}</b></h6>
                                </li>
                                <li>
                                    <h4>Created By </h4>
                                    <h6>
                                        <div class="d-flex align-items-center display-images">
                                            {% if booking.created_by.profile_pic %}
                                            <a href="{{booking.created_by.profile_pic.url}}" data-fancybox>
                                                <img src="{{booking.created_by.profile_pic.url}}" class="rounded-lg me-2" width="24" alt="">
                                            </a>
                                            {% else %}
                                            <a href="{% static 'admin-assets/images/dp.png' %}" data-fancybox>
                                                <img src="{% static 'admin-assets/images/dp.png' %}"
                                                class="rounded-lg me-2" width="24" alt="">
                                            </a>
                                            {% endif %}
                                            <b><a href="{% url 'users:view_user' booking.created_by.id %}" class="w-100">{% if booking.created_by.full_name %}{{ booking.created_by.full_name|capfirst }}{% else %}-{% endif %}</a></b>
                                        </div>
                                    </h6>
                                </li>
                                <li>
                                    <h4>Event</h4>
                                    <h6><a href="{% url 'events:view_event_details' booking.inventory.event.id %}">{% if booking.inventory.event %}{{booking.inventory.event.title}}{% else %}-{% endif %}</a></h6>
                                </li>
                                <li>
                                    <h4>No of Tickets</h4>
                                    <h6><b>{% if booking.no_of_tickets %}{{booking.no_of_tickets}}{% else %}0{% endif %}</b></h6>
                                </li>
                                <li>
                                    <h4>Amount</h4>
                                    <h6><b>${% if booking.amount %}{{booking.amount|floatformat:'2g'}}{% else %}0{% endif %}</b></h6>
                                </li>
                                <li>
                                    <h4>Service Fees</h4>
                                    <h6><b>${% if booking.service_fee %}{{booking.service_fee|floatformat:'2g'}}{% else %}0{% endif %}</b></h6>
                                </li>
                                <li>
                                    <h4>Total Amount</h4>
                                    <h6><b>${% if booking.total_amount %}{{booking.total_amount|floatformat:'2g'}}{% else %}0{% endif %}</b></h6>
                                </li>
                                <li>
                                    <h4>Created On </h4>
                                    <h6>
                                        <script>
                                            var date = ConvertDateTime("{{ booking.created_on|date:'Y-m-d' }}", "{{ booking.created_on|time:'H:i' }}");
                                            document.write(date);
                                        </script>
                                    </h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card mt-4">
                    <div class="card-body  customimages">
                        <h5 class='product_headings'><b>Tickets</b></h5>
                        <div class="row">
                            <div class="col-lg-8 mt-3 offset-md-2">
                        <div>
                            <ul class="product-img-ul">
                                <li class="d-flex justify-content-center p-0 w-100" >
                                    {% if booking.tickets_booked.all %}
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                {% for ticket in booking.tickets_booked.all %}
                                                <div class="swiper-slide" data-swiper-autoplay="2000" style="align-items:center; display:flex; justify-content:center; flex-direction:row;">
                                                    <div class="ticketContainer me-4">
                                                        <div class="ticket">
                                                        <div class="ticketTitle">
                                                            {{ticket.inventory.event.title|truncatechars:25}}<br>
                                                        </div>
                                                        <hr>
                                                        <div class="ticketDetail d-flex justify-content-center">
                                                            <div>{{ticket.user.full_name}}</div>
                                                        </div>
                                                        <div class="ticketRip">
                                                            <div class="circleLeft"></div>
                                                            <div class="ripLine"></div>
                                                            <div class="circleRight"></div>
                                                        </div>
                                                        
                                                        <div class="qr_code_div mt-3">
                                                            <a class="qr_code" href="{{ticket.qr_code.url}}" data-fancybox="gallery" data-caption="">
                                                                <img  src="{{ticket.qr_code.url}}" alt="space">
                                                            </a>
                                                        </div>
                                                        <div class="ticketSubDetail">
                                                            <div class="code">{{ticket.ticket_id}}</div>
                                                            <div class="d-flex" style="font-size: 14px;">
                                                                {% if ticket.is_scanned %}
                                                                    <span class="badge bg-danger" >USED</span>
                                                                {% else %}
                                                                    <span class="badge bg-success" >NOT-USED</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="date">
                                                                <script>
                                                                    var date = ConvertDate("{{ ticket.inventory.event.start_datetime|date:'Y-m-d' }}", "{{ ticket.inventory.event.start_datetime|time:'H:i' }}");
                                                                    document.write(date);
                                                                </script>
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="ticketShadow"></div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div class="swiper-pagination "></div>
                                            <!-- If we need navigation buttons -->
                                            <div class="swiper-button-prev"></div>
                                            <div class="swiper-button-next"></div>
                                        </div>
                                        {% else %}
                                        <center>
                                            <a href="{% static 'admin-assets/images/default.png' %}" data-fancybox>
                                            <img src="{% static 'admin-assets/images/default.png' %}" alt="image">
                                            </a>
                                        </center>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% include "admin-includes/footer.html" %}
<script>
    const mySwiper = new Swiper('.swiper-container', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
        speed: 700,
        autoplay:true,
        mousewheel: true,
        coverflowEffect: {
            rotate: 30,
            slideShadows: true
        },
        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },
        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    })
</script>