{% include "admin-includes/header.html" %}{% load static %}{% load extras %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Buyer Information</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="white-text" href="{% url 'users:customers_list' %}">Buyers </a> </li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                <a class="btn btn-primary me-2" href="{% url 'accounts:notifications_list' user.id %}" ><i class="fas fa-bell me-1"></i></i> Notifications</a>
                {% comment %} <a class="btn btn-primary me-2" href="{% url 'users:edit_user' user.id %}" ><i class="fa fa-edit me-1"></i> Update</a> {% endcomment %}
                <a class="btn btn-secondary" href="{% url 'users:customers_list' %}" ><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mt-3">
                <div class="card product-profile-wrapper">
                    <div class="product-detail-wrapper">
                        <div class="profile-imgbox">
                            {% if user.profile_pic %}
                            <a class="product-img" href="{{ user.profile_pic.url }}" data-fancybox="gallery">
                                <img style="height: auto;" src="{{ user.profile_pic.url }}" alt="image">
                            </a>
                            {% else %}
                            <a class="product-img" href="{% static 'admin-assets/images/dp.png' %}" data-fancybox="gallery">
                                <img style="height: auto;" src="{% static 'admin-assets/images/dp.png' %}" alt="image">
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 productdetails">
                                <h5 class=""><b>Buyer Information</b></h5>
                                <ul class="product-bar">
                                    <li>
                                        <h4>User Id </h4>
                                        <h6>{% if user.id %}{{user.id}}{% else %}-{% endif %}</h6>
                                    </li>
                                    <li>
                                        <h4>First Name </h4>
                                        <h6>{% if user.first_name %}{{user.first_name}}{% else %} -- {% endif %}</h6>
                                    </li>
                                    <li>
                                        <h4>Last Name </h4>
                                        <h6>{% if user.last_name %}{{user.last_name}}{% else %} -- {% endif %}</h6>
                                    </li>
                                    <li>
                                        <h4>Full Name </h4>
                                        <h6>{% if user.full_name %}{{user.full_name}}{% else %} -- {% endif %}</h6>
                                    </li>
                                    <li>
                                        <h4>Role</h4>
                                        <h6>
                                            {% if user.role_id == 1 %}
                                            <span class="badge bg-primary">ADMIN</span>
                                            {% elif user.role_id == 2 %}
                                            <span class="badge bg-primary">BUYER</span>
                                            {% elif user.role_id == 3 %}
                                            <span class="badge bg-primary">SELLER</span>
                                            {% endif %}
                                        </h6>
                                    </li>
                                    <li>
                                        <h4>Gender</h4>
                                        <h6>
                                            {% if user.gender == 1 %}
                                            <span class="badge bg-secondary">MALE</span>
                                            {% elif user.gender == 2 %}
                                            <span class="badge bg-secondary">FEMALE</span>
                                            {% elif user.gender == 3 %}
                                            <span class="badge bg-secondary">OTHER</span>
                                            {% else %}
                                            --
                                            {% endif %}
                                        </h6>
                                    </li>    
                                    <li>
                                        <h4>Date of Birth</h4>
                                        <h6>
                                            {% if user.dob %}
                                                {{user.dob|date:'Y-m-d'}}
                                            {% else %}
                                            --
                                            {% endif %}
                                        </h6>
                                    </li>    
                                         
                                    <li>
                                        <h4>State</h4>
                                        <h6>
                                            {% if user.status == 1 %}
                                            <span class="badge bg-success">ACTIVE</span>
                                            {% elif user.status == 2 %}
                                            <span class="badge bg-warning">INACTIVE</span>
                                            {% elif user.status == 3 %}
                                            <span class="badge bg-danger">DELETED</span>
                                            {% endif %}
                                        </h6>
                                    </li>  
                                    <li>
                                        <h4>Mobile Number </h4>
                                        <h6>{% if user.mobile_no %}<b>{% if user.country_code %}<b>{{user.country_code}}</b> {% endif %}{{user.mobile_no}}</b>{% else %} -- {% endif %}</h6>
                                    </li>
                                    <li>
                                        <h4>Email </h4>
                                        <h6>{% if user.email %}<b>{{user.email}}</b>{% else %} -- {% endif %}</h6>
                                    </li>
                                    <li>
                                        <h4>Created On </h4>
                                        <h6>
                                            <script>
                                                var date = ConvertDateTime("{{ user.created_on|date:'Y-m-d' }}", "{{ user.created_on|time:'H:i' }}");
                                                document.write(date);
                                            </script>
                                        </h6>
                                    </li>    
                                    <li>
                                        <h4>Last Login </h4>
                                        <h6>
                                            {% if user.last_login %}
                                            <script>
                                                var date = ConvertDateTime("{{ user.last_login|date:'Y-m-d' }}", "{{ user.last_login|time:'H:i' }}");
                                                document.write(date);
                                            </script>
                                            {% else %}-{% endif %}
                                        </h6>
                                    </li>
                                    <li>
                                        <h4>Access Token </h4>
                                        <h6>
                                            {% if token and token.key %}Token {{token.key}}{% else %}-{% endif %}
                                        </h6>
                                    </li> 
                                    <li>
                                        <h4>Device Token </h4>
                                        <h6>
                                            {% if device and device.device_token %}{{device.device_token}}{% else %}-{% endif %}
                                        </h6>
                                    </li> 
                                </ul>
                            </div>
                            <div class="col-md-6 productdetails">
                                <h5 class=""><b>Preferred Contact Methods</b></h5>
                                <ul class="product-bar">
                                    <li>
                                        <h4>Is Notification Enable</h4>
                                        <h6>
                                            {% if user.notification_enable %}
                                            <span class="badge bg-info">Yes</span>
                                            {% else %}
                                            <span class="badge bg-warning">No</span>
                                            {% endif%}                 
                                        </h6>
                                    </li>
                                    <li>
                                        <h4>Email</h4>
                                        <h6>
                                            {% if user.email_notification %}
                                            <span class="badge bg-info">Yes</span>
                                            {% else %}
                                            <span class="badge bg-warning">No</span>
                                            {% endif%}                 
                                        </h6>
                                    </li>
                                    <li>
                                        <h4>SMS</h4>
                                        <h6>
                                            {% if user.sms_notification %}
                                            <span class="badge bg-info">Yes</span>
                                            {% else %}
                                            <span class="badge bg-warning">No</span>
                                            {% endif%}  
                                        </h6>
                                    </li>
                                </ul>
                                <h5 class=""><b>User Address</b></h5>
                                <ul class="product-bar">
                                    <li>
                                        <h4>Address</h4>
                                        <h6>
                                            {% if address.address %}
                                                {{address.address}}
                                            {% else %}-{% endif%}                                    
                                        </h6>
                                    </li> 
                                    <li>
                                        <h4>Latitude</h4>
                                        <h6>
                                            {% if address.longitude %}
                                                {{address.longitude}}  
                                            {% else %}-{% endif%}                                    
                                        </h6>
                                    </li> 
                                    <li>
                                        <h4>Longitude</h4>
                                        <h6>
                                            {% if address.latitude %}
                                                {{address.latitude}}    
                                            {% else %}-{% endif%}                                    
                                        </h6>
                                    </li> 
                                </ul>
                                <h5 class=""><b>User Activity</b></h5>
                                <ul class="product-bar">
                                    <li>
                                        <h4>Activity Logs</h4>
                                        <h6>
                                            {% if activities %}<a href="{% url 'accounts:user_activity' user.id %}" >View [ {{activities}} ]</a>{% else %} [ {{activities}} ] {% endif %}
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="btn-list border-0 d-flex justify-content-end align-items-center mt-4">
                            {% if user.status == 1 %}
                                <a href="{% url 'users:inactivate_user' user.id %}" onclick="Loader()" class="btn btn-warning ms-2">DEACTIVATE</a>
                                <a href="{% url 'users:delete_user' user.id %}" onclick="Loader()" class="btn btn-danger ms-2">DELETE</a>
                            {% elif user.status == 2 %}
                                <a href="{% url 'users:activate_user' user.id %}" onclick="Loader()" class="btn btn-success ms-2">ACTIVATE</a>
                                <a href="{% url 'users:delete_user' user.id %}" onclick="Loader()" class="btn btn-danger ms-2">DELETE</a>
                            {% else %}
                                <!-- <a href="{% url 'users:activate_user' user.id %}" onclick="Loader()" class="btn btn-success ms-2">Activate</a>
                                <a href="{% url 'users:inactivate_user' user.id %}" onclick="Loader()" class="btn btn-warning ms-2">Deactivate</a> -->
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- tabs -->
                 <div class="col-lg-12 col-sm-12 mt-5">
                    <div class="row  mt-4">

                        <div class="bs-example action-tabs">
                            <ul class="nav nav-tabs" id="myTab">
                                <li  class="nav-item">
                                    <a href="#sectionA" class="nav-link nav-link-items active nav-link1" data-toggle="tab">Login History</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="sectionA" class="tab-pane fade show active">
                                    <section id="tab" class="tab-panel">
                                            <div class="card custom-card">
                                                <div class="card-body">
                                                    <div class=" dataview">
                                                        <div class="table-responsive">
                                                            <table class="table datatable">
                                                                <thead>
                                                                    <tr>
                                                                        <th><strong>User IP</strong></th>
                                                                        <th><strong>Agent</strong></th>
                                                                        <th><strong>Status</strong></th>
                                                                        <th><strong>Created On </strong></th>
                                                                        <th><strong>Url </strong></th>
                                                                    </tr>
                                                                </thead>
                                                            
                                                                <tbody>
                                                                   {% if loginhistory %}
                                                                        {% for history in loginhistory %}
                                                                        <tr>
                                                                            <td>{{history.user_ip}}</td>
                                                                            <td>{{history.user_agent}}</td>
                                                                            <td>
                                                                                {% if history.status == 1 %}
                                                                                <div class="badge bg-success">SUCCESS</div>
                                                                                {% else %}
                                                                                <div class="badge bg-danger">FAILURE</div>
                                                                                {% endif %}
                                                                            </td>
                                                                            <td>
                                                                                <script>
                                                                                    var date = ConvertDateTime("{{ history.created_on|date:'Y-m-d' }}", "{{ history.created_on|time:'H:i' }}");
                                                                                    document.write(date);
                                                                                </script>
                                                                            </td>
                                                                            <td>{% if history.url %}{{history.url}}{% else %}-{% endif %}</td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </tbody>
        
                                                            </table>
                                                        </div>
        
                                                        {% if loginhistory.has_other_pages %}
                                                            <nav aria-label="Page navigation">
                                                                <ul class="pagination">
                                                                    {% if loginhistory.has_previous %}
                                                                        <li class="page-item">
                                                                            <a class="page-link" href="?{% url_replace request '1page' loginhistory.previous_page_number %}">&laquo;</a>                                          
                                                                        </li>
                                                                    {% else %}
                                                                        <li class="page-item disabled">
                                                                            <span class="page-link">&laquo;</span>
                                                                        </li>
                                                                    {% endif %}
                                                                    {% for i in loginhistory.paginator.page_range %}
                                                                        {% if loginhistory.number == i %}
                                                                            <li class="page-item active">
                                                                                <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                                                            </li>
                                                                        {% elif i > loginhistory.number|add:'-5' and i < loginhistory.number|add:'5' %}
                                                                            <li class="page-item">
                                                                                <a class="page-link" href="?{% url_replace request '1page' i %}">{{ i }}</a>
                                                                            </li>
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    {% if loginhistory.has_next %}
                                                                        <li class="page-item">
                                                                            <a class="page-link" href="?{% url_replace request '1page' loginhistory.next_page_number %}">&raquo;</a>
                                                                        </li>
                                                                    {% else %}
                                                                        <li class="page-item disabled">
                                                                            <span class="page-link">&raquo;</span>
                                                                        </li>
                                                                    {% endif %}
                                                                </ul>
                                                            </nav>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- tabs end -->
            </div>
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}