{% include 'admin-includes/header.html' %}
{% load static %}{% load extras %}
<div class="page-wrapper">
   
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Transactions</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
						<li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="white-text" href="">Transactions</a></li>
					</ol>
				</nav>
            </div>
            
        </div>

        <div class="card">
            <div class="card-body">
                <div class="dataview">
                    <form onsubmit="Loader()" action="" method="GET">
                        <div class="table-responsive ">
                            <table class="table datatable">
                                <thead>
                                    <tr>
                                        <th>Transaction Id</th>
                                        <th>Subscription Plan</th>
                                        <th>Seller</th>
                                        <th>Amount</th>
                                        <th>Status</th>
                                        <th>Created On</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                          
                                <thead>
                                    <tr class="search-row">
                                        <td><input type="text" value="{{transaction_id}}" class="form-control" name="transaction_id" maxlength="20"></td>

                                        <td><input type="text" value="{{plan}}" class="form-control" name="plan" maxlength="30"></td>

                                        <td><input type="text" value="{{seller}}" class="form-control" name="seller" maxlength="30"></td>
                                       
                                        <td><input type="number" value="{{amount}}" class="form-control" name="amount" maxlength="20"></td>
                                        
                                        <td>
                                            <select class="form-control" name="status" onchange="this.form.submit()">
                                                <option  value=""></option>
                                                <option {% if status == '1' %} selected {% endif %} value="1">Success</option>
                                                <option {% if status == '0' %} selected {% endif %} value="0">Pending</option>
                                            </select>
                                        </td>
                                        <td><input type="date" onkeydown="return false" value="{{created_on}}" class="position-relative form-control" onchange="this.form.submit()" name="created_on"></td>
                                        <td><button type="submit" class="btn btn-primary">Search</button></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if transactions %}
                                    {% for transaction in transactions %}
                                    <tr>
                                        <td class='clickable-row' data-href="{% url 'events:transaction_detail' transaction.id %}">{% if transaction.transaction_id %}{{transaction.transaction_id}}{% else %}-{% endif %}</td>
                                        <td class='clickable-row' data-href="{% url 'events:transaction_detail' transaction.id %}">{% if transaction.plan_purchased.plan_title %}{{transaction.plan_purchased.subscription_plan.title}}{% else %}-{% endif %}</td>
                                        <td>
                                            <div class="d-flex align-items-center display-images">
                                                {% if transaction.created_by.profile_pic %}
                                                <a href="{{transaction.created_by.profile_pic.url}}" data-fancybox>
                                                    <img src="{{transaction.created_by.profile_pic.url}}" class="rounded-lg me-2" width="24" alt="">
                                                </a>
                                                {% else %}
                                                <a href="{% static 'admin-assets/images/dp.png' %}" data-fancybox>
                                                    <img src="{% static 'admin-assets/images/dp.png' %}"
                                                    class="rounded-lg me-2" width="24" alt="">
                                                </a>
                                                {% endif %}
                                                <span class="w-space-no">{% if transaction.created_by.full_name %}{{ transaction.created_by.full_name|capfirst }}{% else %}-{% endif %}</span>
                                            </div>
                                        </td>
                                       
                                        <td class='clickable-row' data-href="{% url 'events:transaction_detail' transaction.id %}">{% if transaction.amount %}$ {{ transaction.amount|floatformat:'2g' }}{% else %}-{% endif %}</td>
                                        
                                       
                                        <td class='clickable-row' data-href="{% url 'events:transaction_detail' transaction.id %}">
                                            {% if transaction.status  %}
                                                <span class="badge bg-success">SUCCESS</span>
                                            {% else %}
                                                <span class="badge bg-warning">PENDING</span>
                                            {% endif %}
                                        </td>
                                        <td class='clickable-row' data-href="{% url 'events:transaction_detail' transaction.id %}">
                                            <script>
                                                var date = ConvertDateTime("{{ transaction.created_on|date:'Y-m-d' }}", "{{ transaction.created_on|time:'H:i' }}");
                                                document.write(date);
                                            </script>
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a title="View" href="{% url 'events:transaction_detail' transaction.id %}" class="btn btn-success shadow btn-xs sharp me-1"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                    {% if transactions.has_other_pages %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if transactions.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% url_replace request 'page' transactions.previous_page_number %}">&laquo;</a>                                          
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&laquo;</span>
                                </li>
                            {% endif %}
                            {% for i in transactions.paginator.page_range %}
                                {% if transactions.number == i %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ i }} </span>
                                    </li>
                                {% elif i > transactions.number|add:'-5' and i < transactions.number|add:'5' %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if transactions.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% url_replace request 'page' transactions.next_page_number %}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&raquo;</span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>

        
    </div>
</div>





{% include 'admin-includes/footer.html' %}


<script>
    $("#add-service-fees").validate({
        ignore:[],
        rules: {
            service_fees: {
                required: true,
                normalizer: function (value) {
                    return $.trim(value);
                }
            },
            
        },
        messages: {
            service_fees: {
                required: "Please enter service fees",
            },
           
        },
    }); 

</script>
