{% include "admin-includes/header.html" %}
{% load static %}
{% load extras %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Rating & Reviews</h4>
            </div>
            <div class="page-btn d-flex flex-wrap">
               <a class="btn btn-secondary ms-3" href="{% url 'events:view_event_details' event.id %}" ><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class=" dataview">
                    {% if ratings %}                     
                        {% for rating in ratings %}
                        <div class="profile-tab d-flex position-relative mb-2">
                            <div class="review-wrapper w-100">
                                <div class="review-comment mb--20">
                                    <div class="d-flex display-images">
                                        <div class="col-lg-4 d-flex">
                                            {% if rating.user.profile_pic %}
                                            <a href="{{rating.user.profile_pic.url}}" data-fancybox>
                                                <img src="{{rating.user.profile_pic.url}}" class="rounded-lg me-2" width="24" alt="">
                                            </a>
                                            {% else %}
                                            <a href="{% static 'admin-assets/images/dp.png' %}" data-fancybox>
                                                <img src="{% static 'admin-assets/images/dp.png' %}"
                                                class="rounded-lg me-2" width="24" alt="">
                                            </a>
                                            {% endif %}
                                            <h6>
                                                <div class="row" style="margin-right:0px;">
                                                    <a class="review-name" href="{% url 'users:view_user' rating.user.id %}" >{{rating.user.full_name|capfirst}}</a>
                                                    [<a class="review-name-booking" href="#">{{rating.event.title}}</a>]
                                                </div>
                                                <small class="review-date">
                                                    <script>
                                                        var date = ConvertDateTime("{{ rating.created_on|date:'Y-m-d' }}", "{{ rating.created_on|time:'H:i' }}");
                                                        document.write(date);
                                                    </script>
                                                </small>
                                            </h6>
                                        </div>
                                        <div class="col-lg-8 text-end">
                                            <div class="rating-widget review-text mb--15">
                                                <div class="stars" style="--rating: {% if rating.rating %}{{rating.rating}}{% else %}0{% endif %};"></div>
                                                <p>{% if rating.review %}{{rating.review}}{% endif %}</p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                        </div> 
                            <hr>
                            {% endfor %}
                    {% else %}
                        <div style='text-align:center'>
                            <span>No data found</span>
                        </div>
                    {% endif %}                    
                    {% if ratings.has_other_pages %}
						<nav aria-label="Page navigation">
							<ul class="pagination">
								{% if ratings.has_previous %}
									<li class="page-item">
										<a class="page-link" href="?{% url_replace request 'page' ratings.previous_page_number %}">&laquo;</a>                                          
									</li>
								{% else %}
									<li class="page-item disabled">
										<span class="page-link">&laquo;</span>
									</li>
								{% endif %}
								{% for i in ratings.paginator.page_range %}
									{% if ratings.number == i %}
										<li class="page-item active">
											<span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
										</li>
									{% elif i > ratings.number|add:'-5' and i < ratings.number|add:'5' %}
										<li class="page-item">
											<a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a>
										</li>
									{% endif %}
								{% endfor %}
								{% if ratings.has_next %}
									<li class="page-item">
										<a class="page-link" href="?{% url_replace request 'page' ratings.next_page_number %}">&raquo;</a>
									</li>
								{% else %}
									<li class="page-item disabled">
										<span class="page-link">&raquo;</span>
									</li>
								{% endif %}
							</ul>
						</nav>
					{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}