{% include "admin-includes/header.html" %}{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Category Information</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'events:event_category_list' %}" class="white-text">Categories</a></li>
                        <li class="breadcrumb-item active">View Category</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex flex-wrap gap-2">
                <a data-bs-toggle="modal" onclick="GetCategoryId(`{{category.id}}`,`{{category.title}}`,`{{category.description}}`)" data-bs-target="#update-modal" class="btn btn-warning sharp"><i class="fa fa-edit"></i> Update</a>
                <a href="{% url 'events:delete_category' category.id %}" message="Are you sure you want to delete this category?" class="btn btn-danger shadow btn-xs sharp action_confirm" ><i class="fa fa-trash"></i> Delete</a>
                <a class="btn btn-secondary" href="{% url 'events:event_category_list' %}"><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="productdetails">
                            <ul class="product-bar">

                                <li>
                                    <h4>Category Id </h4>
                                    <h6><b>{% if category.id %}{{category.id}}{% else %}-{% endif %}</b></h6>
                                </li>
                                <li>
                                    <h4>Title</h4>
                                    <h6><b>{% if category.title %}{{category.title}}{% else %}-{% endif %}</b></h6>
                                </li>
                                <li>
                                    <h4>Description</h4>
                                    <h6>{% if category.description %}{{category.description}}{% else %}-{% endif %}</h6>
                                </li>
                                <li>
                                    <h4>Created On </h4>
                                    <h6>
                                        <script>
                                            var date = ConvertDateTime("{{ category.created_on|date:'Y-m-d' }}", "{{ category.created_on|time:'H:i' }}");
                                            document.write(date);
                                        </script>
                                    </h6>
                                </li>
                                <li>
                                    <h4>Updated On </h4>
                                    <h6>
                                        <script>
                                            var date = ConvertDateTime("{{ category.updated_on|date:'Y-m-d' }}", "{{ category.updated_on|time:'H:i' }}");
                                            document.write(date);
                                        </script>
                                    </h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="update-modal" data-bs-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Category</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="location.reload()" ></button>
            </div>
            <div class="modal-body">
                <div class="basic-form">
                    <form id="update-category" action="{% url 'events:update_category' %}?view=true" onsubmit="Loader(this.id)" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <div>
                                <div class="my-1 required-field">
                                    <div class="form-group required-field">
                                        <label class="form-label">Title</label>
                                        <input type="text" placeholder="Enter Title" id='e_title' name="e_title" class="form-control" maxlength="60">
                                    </div>
                                </div>
                                <div class="my-1">
                                    <div class="form-group">
                                        <label class="form-label">Description</label>
                                        <input type="text" placeholder="Description" name="e_description" id="e_description" class="form-control">
                                    </div>
                                </div>

                                <input type='hidden' name='category_id' id='category_id'>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="btn-box text-end mt-2">
                                <button class="btn btn-primary btn-fill me-1">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}
<script>
    $("#update-category").validate({
        ignore:[],
        rules: {
            e_title: {
                required: true,
                normalizer: function (value) {
                    return $.trim(value);
                }
            },
            e_description:{
                required:true,
                normalizer:function(value){
                    return $.trim(value)
                }
            }
        },
        messages: {
            e_title: {
                required: "Please enter title",
            },
            e_description: {
                required: "Please enter description."
            },
        },
    });

    function GetCategoryId(id,title,description){
        $('#category_id').val(id)
        $('#e_title').val(title)
        $('#e_description').val(description)
    }
</script>