{% include "admin-includes/header.html" %}
{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Change Password</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'users:view_user' user.id %}" class="white-text">Admin</a></li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form method="POST" id="change" onsubmit="Loader(this.id)">
                    {% csrf_token %}
                    <div class="row justify-content-center align-items-start mb-md-3">

                        <div class="col-md-6 mx-auto">

                            <div class="form-group password required-field">
                                <label class="form-label">Current Password</label>
                                <input type="password" placeholder="Curent Password" name="current_password"
                                    id="current_password" required maxlength="50" minlength="8"
                                    class="form-control form-control-lg" onpaste="return false;">
                                <span type="checkbox" data-attr="current_password" class="eyeicon2">
                                    <i class="eye fas fa-eye-slash"></i>
                                </span>
                            </div>

                            <div class="form-group password required-field">
                                <label class="form-label">New Password</label>
                                <input type="password" placeholder="New Password" name="password"
                                    id="password" required maxlength="50" minlength="8"
                                    class="form-control form-control-lg" onpaste="return false;">
                                <span type="checkbox" data-attr="password" class="eyeicon">
                                    <i class="eye fas fa-eye-slash"></i>
                                </span>
                            </div>
                            <div class="form-group password required-field">
                                <label class="form-label">Confirm Password</label>
                                <input type="password" placeholder="Confirm Password" name="password1"
                                    id="password1" required maxlength="50" minlength="8"
                                    class="form-control form-control-lg" onpaste="return false;">
                                <span type="checkbox" data-attr="password1" class="eyeicon1">
                                    <i class="eye fas fa-eye-slash"></i>
                                </span>
                            </div>

                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary me-2" style="margin-top: 30px;">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}
<script type="text/javascript">
    $(document).on('click', '.eyeicon', function () {
        var x = document.getElementById($(this).attr("data-attr"));
        if (x.getAttribute('type') == "password") {
            $(this).find(".eye").removeClass("fas fa-eye-slash");
            $(this).find(".eye").addClass("fas fa-eye");
            x.removeAttribute("type");
            x.setAttribute("type", "text");
        } else {
            x.removeAttribute("type");
            x.setAttribute('type', 'password');
            $(this).find(".eye").removeClass("fas fa-eye");
            $(this).find(".eye").addClass("fas fa-eye-slash");
        }
    })
    $(document).on('click', '.eyeicon1', function () {
        var x = document.getElementById($(this).attr("data-attr"));
        if (x.getAttribute('type') == "password") {
            $(this).find(".eye").removeClass("fas fa-eye-slash");
            $(this).find(".eye").addClass("fas fa-eye");
            x.removeAttribute("type");
            x.setAttribute("type", "text");
        } else {
            x.removeAttribute("type");
            x.setAttribute('type', 'password');
            $(this).find(".eye").removeClass("fas fa-eye");
            $(this).find(".eye").addClass("fas fa-eye-slash");
        }
    })
    $(document).on('click', '.eyeicon2', function () {
        var x = document.getElementById($(this).attr("data-attr"));
        if (x.getAttribute('type') == "password") {
            $(this).find(".eye").removeClass("fas fa-eye-slash");
            $(this).find(".eye").addClass("fas fa-eye");
            x.removeAttribute("type");
            x.setAttribute("type", "text");
        } else {
            x.removeAttribute("type");
            x.setAttribute('type', 'password');
            $(this).find(".eye").removeClass("fas fa-eye");
            $(this).find(".eye").addClass("fas fa-eye-slash");
        }
    })
    $("#change").validate({
        rules: {
            password: {
                required: true,
                minlength: 8,
                normalizer: function( value ) {
                    return $.trim( value );
                },
                strongpassword:"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$",
            },
            password1: {
                required: true,
                minlength: 8,
                equalTo: "#password",
                normalizer: function( value ) {
                    return $.trim( value );
                },
                strongpassword:"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$",
            },
            current_password: {
                required: true,
                minlength: 8,
                normalizer: function( value ) {
                    return $.trim( value );
                },
                strongpassword:"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*]).{8,}$",
            },
        },
        messages: {
            password: {
                required: "Please enter new password",
                minlength: jQuery.validator.format("At least {0} characters required!"),
                strongpassword:"Password must have one uppercase, lowercase, symbol and number"
            },
            password1: {
                required: "Please enter confirm password",
                minlength: jQuery.validator.format("At least {0} characters required!"),
                equalTo: "Passwords do not match!",
                strongpassword:"Password must have one uppercase, lowercase, symbol and number"
            },
            current_password: {
                required: "Please enter current password",
                minlength: jQuery.validator.format("At least {0} characters required!"),
                strongpassword:"Password must have one uppercase, lowercase, symbol and number"
            },
            
        }
    });

    $('input').keypress(function( e ) {    
        if(!/[a-zA-Z0-9!@#$&()\\-`.+,/\"]/.test(String.fromCharCode(e.which)))
            return false;
    });
</script>