{% include 'admin-includes/header.html' %}
{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Logo Management</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="white-text"
                            href="{% url 'accounts:logo' %}">Logo Management</a>
                        </li>
                        <li class="breadcrumb-item active">Add Logo</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                <a class="btn btn-secondary" href="{% url 'credentials:smtp_list' %}"><i
                        class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form onsubmit="Loader(this.id)" id="add-page" action="{% url 'accounts:add_logo' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Logo</label>
                                <input type="file" name="lg_logo" id = 'lg_logo' class="form-control">
                            </div>
                        </div>
                        
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Favicon</label>
                                <input type="file" id='favicon' name="favicon" class="form-control">
                            </div>
                        </div>

                        <div class="col-lg-12 text-end">
                            <button type="submit" id='sub_btn' class="btn btn-primary me-2">Save</a>
                        </div>
                    </div>
                    <label id='lg_logo1-error' style='color:red'></label>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'admin-includes/footer.html' %}

<script type="text/javascript">

    $("#add-page").validate({
        ignore: [],
        rules: {
            lg_logo: {
                required: true,
                extension: "jpg|jpeg|png|gif|",
                minImageWidth: 100
                },
            favicon: {
                required: true,
                extension: "ico"
                }
            },
        
        messages: {
            lg_logo: {
                required: "Please choose a logo",
                extension: "Please upload file in these format only (jpg, jpeg, png, gif)",
                minImageWidth: "fregr"
                },
            favicon: {
                required: "Please choose a favicon",
                extension: "Please upload file in these format only (ico)"
                }
        },
    });  
    

    const imageUploadInput = document.getElementById("lg_logo");
    imageUploadInput.onchange = function (event) {
        const file = imageUploadInput.files[0];
        if (!file) {
          return;
        }
        const image = new Image();
        image.onload = function() {
          if(this.width > parseInt(1000) || this.height > parseInt(1000)){
                $('#lg_logo1-error').html('Please select a logo that has a height and width less than 1000.')
                $('#sub_btn').attr('disabled', true);
          }
          else{
                $('#lg_logo1-error').html('')
                $('#sub_btn').attr('disabled', false);
          }
        }
        image.src = URL.createObjectURL(file);
      };

</script>