{% include 'admin-includes/header.html' %}
{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Blog</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'frontend:index' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'blog:blog_list' %}" class="white-text">Blogs</a></li>
                        <li class="breadcrumb-item active">Add Blog</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                <a class="btn btn-secondary" href="{% url 'blog:blog_list' %}" ><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form onsubmit="Loader(this.id)" id="add-blog" action="{% url 'blog:add_blog' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Title</label>
                                <input type="text" placeholder="Enter Title" name="title" class="form-control">
                            </div>
                        </div>
                        
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="form-group required-field ">
                                <label class="form-label">Description</label>
                                <textarea placeholder="Enter Description" name="description" id="content" class="form-control"></textarea>
                                <div class="description_div"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="sidebar-widget property-form-group div_images mb-2">
                                <div class="upload-images">
                                    <input type="file" name='images' id='blog_images' multiple accept="jpg,png,jpeg,gif">
                                    <span><i class="fa fa-cloud-upload"></i> Click here or drop files to
                                        upload</span>
                                </div>
                            </div>
                            <p class = "error" id ="empty_image_error"></p>
                            <div class="img-thumbs-hidden" id="img-preview">
                        </div>

                        <div class="card mb-4 ">
                            <div class="card-body p-0">
                                
    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary me-2">Save</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'admin-includes/footer.html' %}
<script src="https://cdn.ckeditor.com/4.17.2/standard/ckeditor.js"></script>
<script src="{% static 'admin-assets/js/customized-js/form_validations.js' %}"></script>
<script>
    //not allow to add image in ckeditor
    CKEDITOR.replace('content',{
        disallowedContent: 'img'
    });




// display the selected images in UI for blogs section.
const property_images = new DataTransfer();
var imgUpload = document.getElementById('blog_images')
, imgPreview = document.getElementById('img-preview')
, imgUploadForm = document.getElementById('form-upload')
, totalFiles
, previewTitle
, previewTitleText
,image_position
,clickfunction
, img;
imgUpload.addEventListener('change', previewImgs, true);
function previewImgs(event) {
    // to remove all images first 
    $('.new-added').remove()
    property_images.clearData()
    totalFiles = imgUpload.files.length;
        if(!!totalFiles) {
        imgPreview.classList.remove('img-thumbs-hidden');
    }
    for(var i = 0; i < totalFiles; i++) {
        wrapper = document.createElement('div');
        wrapper.classList.add('wrapper-thumb');
        wrapper.classList.add('new-added');
        removeBtn = document.createElement("span");
        nodeRemove= document.createTextNode('x');
        removeBtn.classList.add('remove-btn');
        removeBtn.appendChild(nodeRemove);
        img = document.createElement('img');
        img.src = URL.createObjectURL(event.target.files[i]);
        // add to file
        property_images.items.add(event.target.files[i]);
        image_name = document.createAttribute("image-name");
        image_name.value = event.target.files[i].name
        clickfunction = document.createAttribute("onclick");
        clickfunction.value = "RemoveFile(this,'current')";
        removeBtn.setAttributeNode(clickfunction);
        // add to file end
        removeBtn.setAttributeNode(image_name);
        img.classList.add('img-preview-thumb');
        if (event.target.files[i].type == 'image/jpg' || event.target.files[i].type == 'image/png' || event.target.files[i].type == 'image/jpeg' ||event.target.files[i].type == 'image/gif' ||event.target.files[i].type == 'image/svg'){
        wrapper.appendChild(img);
        wrapper.appendChild(removeBtn);
        imgPreview.appendChild(wrapper);
        }
    }
}
// remove image and file
function RemoveFile(object,state){
    $(object).parent('.wrapper-thumb').remove();
    let remainhtml = $('#img-preview').html().trim()
    if(state == 'current'){
        for(let i=0; i < property_images.files.length;i++){
            if (property_images.files[i].name == $(object).attr('image-name')){
                property_images.items.remove(i)
            }
        }
        imgUpload.files = property_images.files;
    }
    if(!remainhtml){
        $('#img-preview').html('');
        $('#img-preview').addClass('img-thumbs-hidden');
    }
}

</script>