{% include "admin-includes/header.html" %}{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Blog Information</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="{% url 'frontend:index' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="white-text" href="{% url 'blog:blog_list' %}">Blogs</a></li>
                        <li class="breadcrumb-item active">View Blog</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex flex-wrap gap-2">
                <a class="btn btn-primary"  href="{% url 'blog:update_blog' blog.id %}" ><i class="fas fa-edit"></i></a>
                <a class="btn btn-danger action_confirm"  href="{% url 'blog:delete_blog' blog.id %}" message="Are you sure you want to delete this blog?" ><i class="fas fa-trash-alt"></i></a>
                <a class="btn btn-secondary" href="{% url 'blog:blog_list' %}"><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="productdetails">
                            <ul class="product-bar">
                                <li>
                                    <h4>Blog Id </h4>
                                    <h6>{{blog.id}}</h6>
                                </li>
                                <li>
                                    <h4>Title </h4>
                                    <h6><b>{{blog.title}}</b></h6>
                                </li>
                                <li>
                                    <h4>Status </h4>
                                    <h6>
                                        {% if blog.status == 1 %}
                                        <span class="badge bg-success active_deactive" action='DeActivate' message="Are you sure you want to Deactivate Blog?" href="{% url 'blog:change_blog_status' blog.id %}" >Active</span> 

                                        {% else %}
                                        <span class="badge bg-warning active_deactive" action='Activate'  message="Are you sure you want to Activate Blog?" href="{% url 'blog:change_blog_status' blog.id %}">Inactive</span>

                                        {% endif %}
                                    </h6>
                                </li>
                                <li>
                                    <h4>Images </h4>
                                    <h6>
                                        {% if blog.images.all %}
                                            {% for image in blog.images.all %}
                                                <a class="product-img " href="{{image.image.url}}" data-fancybox="gallery" data-caption="">
                                                    <img style="height: 40px; width:40px" class="me-2" src="{{image.image.url}}" alt="space">
                                                </a>
                                            {% endfor %}
                                        {% else %}
                                        <a href="{% static 'admin-assets/images/default.png' %}" data-fancybox>
                                        <img style="height: 40px; width:40px" src="{% static 'admin-assets/images/default.png' %}" alt="image">
                                        </a>
                                        {% endif %}
                                    </h6>
                                </li>
                                <li>
                                    <h4>Created On </h4>
                                    <h6>
                                        <script>
                                            var date = ConvertDateTime("{{ blog.created_on|date:'Y-m-d' }}", "{{ blog.created_on|time:'H:i' }}");
                                            document.write(date);
                                        </script>
                                    </h6>
                                </li>
                                <li>
                                    <h4>Description</h4>
                                    <h6>
                                        <span id="static-content">{% if blog.description %}{{blog.description|safe}}{% else %}-{% endif %}</span>
                                    </h6>
                                </li>
                                <div class="btn-list border-0 d-flex justify-content-end align-items-center mt-4">
                                    {% if blog.status == 1 %}
                                        <a class="btn btn-danger active_deactive" message="Are you sure you want to Deactivate Blog?" action='DeActivate' href="{% url 'blog:change_blog_status' blog.id %}" >
                                            DEACTIVATE
                                        </a>
                                    {% elif blog.status == 2 %}
                                        <a class="btn btn-success active_deactive" message="Are you sure you want to Activate Blog?" action='Activate' href="{% url 'blog:change_blog_status' blog.id %}" >
                                            ACTIVATE
                                        </a>
                                    {% endif %}
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}