{% include "admin-includes/header.html" %}{% load static %} {% load extras %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Update Subscription Plan</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">Index</li>
                        <li class="breadcrumb-item"><a class="white-text" href="{% url 'subscriptions:all_plans' %}">Subscription Plans</a></li>
                        <li class="breadcrumb-item active">Update Subscription Plan</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex">
                <a class="btn btn-secondary" href="{% url 'subscriptions:all_plans' %}" ><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form  onsubmit="Loader(this.id)" id="add-subscription" method="POST" action="{% url 'subscriptions:edit_plan' plan.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row" id="form-data-fields">

                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Title</label>
                                <input type="text" placeholder="Enter Page Title" value="{{plan.title}}" name="title" class="form-control"
                                    maxlength="254">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Price</label>
                                <input type="text" value="{{plan.price}}" placeholder="Enter Price" name="price" class="form-control number_field"
                                    maxlength="10">
                            </div>
                        </div>

                         {% comment %} <div class="col-lg-12 col-md-12 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Plan Validity</label>
                                <select name="validity" id="validity" required class="form-control">
                                    <option value="">Select</option>
                                    <option {% if plan.validity == 1 %}selected{% endif %} value="1">MONTHLY</option>
                                    <option {% if plan.validity == 2 %}selected{% endif %}  value="2">YEARLY</option>
                                </select>
                            </div>
                        </div> {% endcomment %}

                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Features</label>
                                <textarea placeholder="Enter Page Description" name="content" id="content"
                                    class="form-control">{% if plan.features %}{{plan.features|safe}}{% endif %}</textarea>
                                <label id="content-error" class="error"  for="content"></label>
                            </div>
                        </div>

                                       
                    </div>
                    <div class="col-lg-12 text-end">
                        <button type="submit" class="btn btn-primary me-2">Update</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}
<script src="https://cdn.ckeditor.com/4.17.2/standard/ckeditor.js"></script>
<script src="{% static 'admin-assets/js/customized-js/form_validations.js' %}"></script>

<script>
//not allow to add image in ckeditor
CKEDITOR.replace('content',{
    disallowedContent: 'img'
});
</script>