{% include "admin-includes/header.html" %}{% load static %}{% load extras %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Update Buyer Profile</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="white-text" href="{% url 'users:customers_list' %}">Buyers</a></li>
                        <li class="breadcrumb-item"><a class="white-text" href="{% url 'users:view_user' user.id %}">Profile</a></li>
                        <li class="breadcrumb-item active">Update Buyer</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                <a class="btn btn-secondary" href="{% url 'users:view_user' user.id %}"><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form id="edit-profile" onsubmit="return CheckAddress(this.id)" action="{% url 'users:edit_user' user.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Full Name</label>
                                <input type="text" {% if user.full_name %}value="{{ user.full_name }}"{% else %}placeholder="Enter Full Name"{% endif %} maxlength="50" name="full_name" id="full_name" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Email</label>
                                <input readonly type="email" {% if user.email %}value="{{ user.email }}"{% else %}placeholder="Enter Email"{% endif %} maxlength="50" name="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Gender</label>
                                <select name="gender" id="gender" required class="form-control">
                                    <option value="">Select</option>
                                    <option {% if user.gender == 1 %}selected{% endif %} value="1">Male</option>
                                    <option {% if user.gender == 2 %}selected{% endif %} value="2">Female</option>
                                    <option {% if user.gender == 3 %}selected{% endif %} value="3">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Mobile Number</label>
                                <div class="">
                                    <input id="mobile_no" type="text" onkeypress="return /[0-9]/i.test(event.key)" placeholder="Enter Phone Number" value="{% if user.mobile_no %}{{user.mobile_no}}{% endif %}" name="mobile_no" class="form-control" maxlength="10">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="form-group required-field">
                                <label class="form-label">Zipcode</label>
                                <div class="">
                                    <input id="zipcode" type="text" onkeypress="return /[0-9]/i.test(event.key)" placeholder="Enter Phone Zipcode" value="{% if user.zipcode %}{{user.zipcode}}{% endif %}" name="zipcode" class="form-control" maxlength="20">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="form-group">
                                <label class="form-label">Address</label>
                                <input type="text" {% if user.address %}value="{{ user.address }}"{% else %}placeholder="Enter Address"{% endif %} maxlength="150" name="address" id="address" class="form-control">
                                <input type="hidden" name="latitude" id="latitude" {% if user.latitude %}value="{{user.latitude}}" {% else %}value="30.6800"{% endif %}>
                                <input type="hidden" name="longitude" id="longitude" {% if user.longitude %}value="{{user.longitude}}"{% else %}value="76.7221"{% endif %}>
                                <span class="edit-profile-error error" ></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <div class="form-group">
                                <label class="form-label">Profile Picture</label>
                                <input type="file" placeholder="Upload Profile Pic" name="profile_pic" id="profile_pic" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-12 text-end">
                            <button type="submit" class="btn btn-primary me-2">Save</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}
<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_PLACES_KEY}}&libraries=places&callback=CheckAddress" async defer></script>

<script>
    jQuery.validator.addMethod("is_email_exists", 
    function(value, element) {
        let is_valid = true
        $.ajax({
            url: "{% url 'accounts:validations' %}",
            type: "GET",
            data: { email: value ,id:"{{user.id}}"},
            async:false,
            success: function (data) {
                if(data.email == true){
                    is_valid = false
                }else{
                    is_valid =  true
                }
              
            },
          });        
        return is_valid
    },'Email already exists!');
    jQuery.validator.addMethod("is_mobile_no_exists", 
    function(value, element) {
        let is_valid = true
        $.ajax({
            url: "{% url 'accounts:validations' %}",
            type: "GET",
            data: { mobile_no: value ,id:"{{user.id}}"},
            async:false,
            success: function (data) {
                if(data.mobile_no == true){
                    is_valid = false
                }else{
                    is_valid =  true
                }
              
            },
          });        
        return is_valid
    },'Mobile No already exists!');

    $("#edit-profile").validate({
        rules: {
            full_name: {
                required: true,
                normalizer: function (value) {
                    return $.trim(value);
                },
            },
            gender: {
                required: true,
            },
            zipcode: {
                required: true,
            },
            address: {
                required: true,
                normalizer: function (value) {
                    return $.trim(value);
                }
            },
            mobile_no: {
                required: true,
                is_mobile_no_exists: true,
                normalizer: function (value) {
                    return $.trim(value);
                }
            },
            email: {
                required: true,
                is_email_exists: true,
                normalizer: function (value) {
                    return $.trim(value);
                }
            },
            profile_pic: {
                accept: "jpg,png,jpeg,gif"
            },
        },
        messages: {
            full_name: {
                required: "Please enter full name",
            },
            address: {
                required: "Please enter address"
            },
            gender: {
                required: "Please select gender"
            },
            zipcode: {
                required: "Please enter zipcode"
            },
            email: {
                required: "Please enter address"
            },
            mobile_no: {
                required: "Please enter address"
            },
            profile_pic: {
                accept: "Please upload file in these format only (jpg, jpeg, png, gif)"
            },
        }
    });  


    $("#address").keyup(function () {
        var autocomplete = new google.maps.places.Autocomplete($("#address")[0], {});
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            $('#latitude').val(place.geometry.location.lat())
            $('#longitude').val(place.geometry.location.lng())
        });
    });
    $('#address').change(function(){
        $('.edit-details-error').text("");
    })
    $('#address').on('keypress', function(e) {
        return e.which !== 13;
    });
    function CheckAddress(formID){
        if ($('#'+formID).length){
            if ($('#'+formID).valid()){
                if ($('#latitude').val() == "" && $('#longitude').val() == ""){
                    $('.'+formID+'-error').text("Please enter a valid location")
                    return false;
                }
                else{
                    $('.'+formID+'-error').text("")
                    Loader(formID);
                    return true;
                }
            }
        }
    }


</script>
