{% include "admin-includes/header.html" %}{% load static %}
{% include "admin-includes/header.html" %}{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Error Log Information</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="white-text" href="{% url 'logger:error_logs_list' %}">Website Error Logs</a></li>
                        <li class="breadcrumb-item active">View Error Log</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                <a class="btn btn-secondary" href="{% url 'logger:error_logs_list' %}" ><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="productdetails">
                            <ul class="product-bar">
                                <li>
                                    <h4>Error Id </h4>
                                    <h6>{% if error_log.id %}{{error_log.id}}{% else %}-{% endif %}</h6>
                                </li>
                                <li>
                                    <h4>Message </h4>
                                    <h6><b>{% if error_log.msg %}{{error_log.msg}}{% else %}-{% endif %}</b></h6>
                                </li>
                                <li>
                                    <h4>Created On </h4>
                                    <h6>
                                        <script>
                                            var date = ConvertDateTime("{{ error_log.create_datetime|date:'Y-m-d' }}", "{{ error_log.create_datetime|time:'H:i' }}");
                                            document.write(date);
                                        </script>
                                    </h6>
                                </li>
                                <li>
                                    <h4>Trace </h4>
                                    <h6>{% if error_log.trace %}{{error_log.trace}}{% else %}-{% endif %}</h6>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "admin-includes/footer.html" %}