

{% include "admin-includes/header.html" %}{% load static %}
<div class="page-wrapper">
   
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Transaction Information</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
						<li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a class="white-text"  href=" {% if transaction.type == 1 %} {% url 'events:subscription_transaction_list' %} {% elif transaction.type == 2 %} {% url 'events:booster_transaction_list' %} {% else %}{% url 'events:booking_transaction_list' %}{% endif %}">Transactions</a></li>
                        <li class="breadcrumb-item active">View Transaction</li>
					</ol>
				</nav>
            </div>
            <div class="page-btn d-flex">
                <a class="btn btn-secondary" href="{% if transaction.type == 1 %} {% url 'events:subscription_transaction_list' %} {% elif transaction.type == 2 %} {% url 'events:booster_transaction_list' %} {% else %}{% url 'events:booking_transaction_list' %}{% endif %}"><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 productdetails">
                                <ul class="product-bar">
                                    <li>
                                        <h4>Id </h4>
                                        <h6>{{transaction.id}}</h6>
                                    </li>
                                    <li>
                                        <h4>Transaction Id </h4>
                                        <h6>{{transaction.transaction_id}}</h6>
                                    </li>
                                    <li>
                                        <h4>User</h4>
                                        <h6>
                                            <div class="d-flex align-items-center display-images">
                                                {% if transaction.created_by.profile_pic %}
                                                <a href="{{transaction.created_by.profile_pic.url}}" data-fancybox>
                                                    <img src="{{transaction.created_by.profile_pic.url}}" class="rounded-lg me-2" width="24" alt="">
                                                </a>
                                                {% else %}
                                                <a href="{% static 'admin-assets/images/dp.png' %}" data-fancybox>
                                                    <img src="{% static 'admin-assets/images/dp.png' %}"
                                                    class="rounded-lg me-2" width="24" alt="">
                                                </a>
                                                {% endif %}
                                                <a href="{% url 'users:view_user' transaction.created_by.id %}" class="w-100">{% if transaction.created_by.full_name %}<b>{{ transaction.created_by.full_name|capfirst }}</b>{% else %}-{% endif %}
                                                
                                                </a>
                                            </div>
                                        </h6>
                                    </li>
                                    <li>
                                        <h4>Amount </h4>
                                        <h6><b>{% if transaction.amount %}$ {{ transaction.amount|floatformat:'2g' }}{% else %}-{% endif %}</b></h6>
                                    </li>
                                   
                                    <li>
                                        <h4>Transaction Status</h4>
                                        <h6>
                                            {% if transaction.status  %}
                                                <span class="badge bg-success">SUCCESS</span>
                                            {% else %}
                                                <span class="badge bg-warning">PENDING</span>
                                            {% endif %}
                                        </h6>
                                    </li>
                                    <li>
                                        <h4>Charge ID</h4>
                                        <h6>
                                            {% if transaction.charge_id  %}
                                                {{transaction.charge_id}}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </h6>
                                    </li>
                                    <li>
                                        <h4>Stripe Invoice</h4>
                                        <h6>
                                            {% if transaction.receipt_url  %}
                                                <a target="_blank" href="{{transaction.receipt_url}}"><b>{{transaction.receipt_url}}</b></a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </h6>
                                    </li>
                                    {% if transaction.type == 1 %}
                                    <li>
                                        <h4>Subscription Plan</h4>
                                        <h6><a {% if transaction.plan_purchased.subscription_plan %} href="{% url 'subscriptions:view_plan' transaction.plan_purchased.subscription_plan.id %}" {% endif %} ><b>{% if transaction.plan_purchased.subscription_plan.title %}{{transaction.plan_purchased.subscription_plan.title}}{% else %}-{% endif %}</b></a></h6>
                                    </li>
                                    {% elif transaction.type == 2 %}
                                    <li>
                                        <h4>Boosted Event</h4>
                                        <h6><a {% if transaction.boosted_event.event %} href="{% url 'events:view_event_details' transaction.boosted_event.event.id %}" {% endif %} ><b>{% if transaction.boosted_event.event %}{{transaction.boosted_event.event.title}}{% else %}-{% endif %}</b></a></h6>
                                    </li>
                                    {% elif transaction.type == 3 %}
                                    <li>
                                        <h4>Booked Event</h4>
                                        <h6><a {% if transaction.booking.inventory.event %} href="{% url 'events:view_event_details' transaction.booking.inventory.event.id %}" {% endif %} ><b>{% if transaction.booking.inventory.event %}{{transaction.booking.inventory.event.title}}{% else %}-{% endif %}</b></a></h6>
                                    </li>

                                    {% endif %}
                                   
                                    <li>
                                        <h4>Created On </h4>
                                        <h6>
                                            <script>
                                                var date = ConvertDateTime("{{ transaction.created_on|date:'Y-m-d' }}", "{{ transaction.created_on|time:'H:i' }}");
                                                document.write(date);
                                            </script>
                                        </h6>
                                    </li>
                                </ul>
                            </div>
                            
                            {% comment %} <div class="col-md-6 productdetails">
                                <div class="receipt_img">
                                    <a class="img" href="{{transaction.receipt_url}}" target="_blank">
                                        <img  src="{% static 'admin-assets/images/default_receipt.png' %}" alt="space">
                                        <span class="img_text"><i class="fa fa-download"></i> Receipt</span>
                                    </a>
                                </div>
                            </div> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% include "admin-includes/footer.html" %}
