{% include "admin-includes/header.html" %}
{% load static %}{% load humanize %}
{% load extras %}
<div class="page-wrapper">
    
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Revenue</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
						<li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item active">Revenue</li>
					</ol>
				</nav>
            </div>
            <div class="page-btn d-flex">
                <a class="btn btn-secondary" href="{% if transaction.type == 1 %} {% url 'events:subscription_transaction_list' %} {% elif transaction.type == 2 %} {% url 'events:booster_transaction_list' %} {% else %}{% url 'events:booking_transaction_list' %}{% endif %}"><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-9 col-md-8">
                <div class="card flex-fill">
                    <div class="card-header pb-0 d-md-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">Revenue Generated in <span id="selected_year"></span></span></h5>
                        <div class="graph-sets mt-md-0 mt-2">
                            <div class="dropdown d-flex">
                                <div class="weekly me-2 btn btn-primary btn-sm" onclick="GetGraphDataWeekly()">Weekly</div>
                                <div class="yearly me-2 btn btn-primary btn-sm" onclick="GetGraphData()">Yearly</div>
                                <select class="graph-dropdown me-2" name="years" id="years" onchange="GetGraphData(this.value)"></select>
                                <select class="graph-dropdown me-2" name="seller" id="seller" onchange="GetGraphDataWeekly(this.value)">
                                    <option value="" >Select</option>
                                    {% for seller in sellers %}
                                        <option value="{{seller.id}}">{{seller.full_name}}</option>
                                    {% endfor %}
                                </select>
                                <select class="graph-dropdown me-2 form-select" name="month_year" id="month_year" onchange="GetGraphData(this.value)">
                                    <option value="">Select</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div id="chart-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-4 mt-md-0 mt-2">
                <div class="card">
                    <div class="card-body d-flex align-items-center justify-content-center">
                        <div class="wallet-balance">
                            <div class="icon-wrap">
                                <i class="fad fa-wallet"></i>
                            </div>
                            <div class="wallet-amount">
                                <h6>Revenue</h6>
                                <h5>$ {% if admin_revenue %}{{admin_revenue|floatformat:'2g'}}{% else %}0{% endif %}</h5>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="card revenue-card-div">
            <div class="card-header pb-0 d-md-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Transactions</h5>
                <div class="graph-sets mt-md-0 mt-2">
                    <div class="dropdown d-flex flex-wrap">
                        <a class="me-2 btn btn-primary btn-sm mt-2" href="{% url 'accounts:revenue_management' %}?weekly=True">Weekly</a>
                        <a class="me-2 btn btn-primary btn-sm mt-2" href="{% url 'accounts:revenue_management' %}?yearly=True">Yearly</a>
                        <form action="{% url 'accounts:revenue_management' %}" method="get" class="d-flex mt-2">
                            <input type="date" onkeydown="return false" name="selected_date" class="form-control" onchange="this.form.submit()" 
                            {% if selected_date %} value="{{selected_date}}" {% endif %}>
                            <select name="transaction_type" class="form-control ms-2" onchange="this.form.submit()">
                                <option value="">Select</option>
                                <option {% if transaction_type == '1' %}selected{% endif %} value="1">Subscriptions</option>
                                <option {% if transaction_type == '2' %}selected{% endif %} value="2">Boost Events</option>
                                <option {% if transaction_type == '3' %}selected{% endif %} value="3">Bookings</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="location-list row">
                   <div class="col-md-4 col-sm-6 col-xl-2">
                        <div class="location-item">
                            <span class="list-title">$ {% if amount_received %}{{amount_received|floatformat:'2g'}}{% else %}0{% endif %}</span>
                            <span class="list-tag">Total Transactions</span>
                        </div>
                   </div>
                    
                  
                    <div class="col-md-4 col-sm-6 col-xl-2">
                        <div class="location-item">
                            <span class="list-title">$ {% if subscription_revenue %}{{subscription_revenue|floatformat:'2g'}}{% else %}0{% endif %}</span>
                            <span class="list-tag">Subscription Revenue</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xl-2">
                        <div class="location-item">
                            <span class="list-title">$ {% if booster_revenue %}{{booster_revenue|floatformat:'2g'}}{% else %}0{% endif %}</span>
                            <span class="list-tag">Booster Revenue</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xl-2">
                        <div class="location-item">
                            <span class="list-title">$ {% if total_booking %}{{total_booking|floatformat:'2g'}}{% else %}0{% endif %}</span>
                            <span class="list-tag">Total Bookings</span>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xl-2">
                        <div class="location-item">
                            <span class="list-title">$ {% if booking_service_fee %}{{booking_service_fee|floatformat:'2g'}}{% else %}0{% endif %}</span>
                            <span class="list-tag">Booking Service Fees</span>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

        <div class="activity transactions ">
            <div class="activity-box">
                {% if transactions %}
                <ul class="activity-list">
                    {% for transaction in transactions %}
                    <li>
                        <a
                            {% if transaction.type == 1  %}
                            href="{% url "events:transaction_detail" transaction.id %}"

                            {% elif transaction.payment_process_for == 1  and transaction.transaction_type == 3  %}
                            href="{% url "appointments:view_payout" transaction.id %}"

                            {% elif transaction.payment_process_for == 2 and transaction.order and not transaction.transaction_type == 3  %}
                            href="{% url "inventory:transaction_details" transaction.id %}"

                            {% elif transaction.payment_process_for == 2 and transaction.provider_order and transaction.transaction_type == 3  %}
                            href="{% url "inventory:payout_details" transaction.id %}"

                            {% endif %}
                        
                         >
                            <div class="activity-user">
                                {% if transaction.transaction_type == 1 %}
                                <i class="fas fa-arrow-down"></i>
                                {% else %}
                                <i class="fas fa-arrow-up"></i>
                                {% endif %}
                            </div>
                            <div class="activity-content">
                                <div class="timeline-content">
                                    <span class="font-700">{{transaction.transaction_id}}</span>
                                    <div class="activity-right-content">
                                        <span class="time">
                                            <script>
                                                var date = ConvertDateTime("{{ transaction.created_on|date:'Y-m-d' }}", "{{ transaction.created_on|time:'H:i' }}");
                                                document.write(date);
                                            </script>
                                        </span>
                                    </div>
                                </div>
                                <div class="description {% if transaction.transaction_type == 1 %}amount_receieved{% else %}amount_deducted{% endif %}">
                                   
                                    {% if transaction.type == 1 %}
                                        <p class="type">
                                            AMOUNT RECIEVED <span style="color:#02a9ee;">[ Subscription Purchased - {{transaction.plan_purchased.plan_title}}]</span>
                                        </p>

                                    {% elif transaction.type == 2 %}
                                        <p class="type">AMOUNT RECIEVED <span style="color:#02a9ee;">[ Boost Event - {{transaction.boosted_event.plan_title}}]</span></p>
                                    {% else %}
                                        <p class="type">AMOUNT RECIEVED <span style="color:#02a9ee;">[ Booking Event - {{transaction.booking.event.title}}]<br>
                                        Admin Fees : <span>$ {{transaction.booking.service_fee|floatformat:2}}</span></p>
                                    {% endif %}

                                    <span class="activity-check">
                                        <p>$ {{transaction.amount|floatformat:2}}</p>
                                      
                                    </span>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% if transactions.has_other_pages %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {% if transactions.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% url_replace request 'page' transactions.previous_page_number %}">&laquo;</a>                                          
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&laquo;</span>
                                </li>
                            {% endif %}
                            {% for i in transactions.paginator.page_range %}
                                {% if transactions.number == i %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ i }} </span>
                                    </li>
                                {% elif i > transactions.number|add:'-5' and i < transactions.number|add:'5' %}
                                    <li class="page-item">
                                        <a class="page-link" href="?{% url_replace request 'page' i %}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if transactions.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?{% url_replace request 'page' transactions.next_page_number %}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <span class="page-link">&raquo;</span>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
                {% else %}
                <ul class="activity-list">
                    <li class="no-activity">
                        <div class="activity-content">No Transactions Found</div>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div> 

    </div>
</div>
{% include "admin-includes/footer.html" %}

<script type="text/javascript">
    function GetGraphData(){
        $.ajax({
            url: "{% url 'users:revenue_graph' %}",
            dataType: 'json',
            data: {
                'year': $('#years').val(),
                'month_year': $('#month_year').val(),
            },
            success: function (data) {
                Highcharts.chart("chart-container", data['chart']);
                $('#selected_year').text(data['selected_year']);
                $("#years option[value='"+data['selected_year']+"']").attr("selected","selected");
            }
        });
    }
    function GetGraphDataWeekly(){
        $.ajax({
            url: "{% url 'users:revenue_graph_weekly' %}",
            dataType: 'json',
            data: {
                'year': $('#years').val(),
                'seller':$('#seller').val()
            },
            success: function (data) {
                Highcharts.chart("chart-container", data['chart']);
                $('#selected_year').text(data['selected_year']);
                $("#years option[value='"+data['selected_year']+"']").attr("selected","selected");
            }
        });
    }
    GetGraphDataWeekly();
</script>
<script>
    for (i = new Date().getFullYear(); i > new Date().getFullYear() - 5; i--)
    {
        $('#years').append($('<option />').val(i).html(i));
    }
</script>