{% include "admin-includes/header.html" %}{% load static %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Twilio Key Management</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a class="white-text" href="/">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'twilio_settings:twilio_list' %}" class="white-text">Twilio Settings</a></li>
                        <li class="breadcrumb-item active">View Twilio Key</li>
                    </ol>
                </nav>
            </div>
            <div class="page-btn d-flex flex-wrap">
                {% if twilio.is_active %}
                <a class="btn btn-danger me-2" onclick="Loader()" href="{% url 'twilio_settings:active_deactive_twilio' twilio.id %}">Deactivate</a>
                {% else %}
                <a class="btn btn-primary me-2"   onclick="Loader()" href="{% url 'twilio_settings:active_deactive_twilio' twilio.id %}" >Activate</a>
                {% endif %}

                <a class="btn btn-secondary" href="{% url 'twilio_settings:twilio_list' %}"><i class="fa fa-angle-left me-1"></i> Back</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="productdetails">
                            <ul class="product-bar">

                                <li>
                                    <h4>Id</h4>
                                    <h6><b>{{twilio.id}}</b></h6>
                                </li>
                                <li>
                                    <h4>Account SID</h4>
                                    <h6><b>{{twilio.account_sid}}</b></h6>
                                </li>
                                <li>
                                    <h4>Number</h4>
                                    <h6><b>{{twilio.number}}</b></h6>
                                </li>
                                <li>
                                    <h4>Token</h4>
                                    <h6><b>{{twilio.token}}</b></h6>
                                </li>

                                <li>
                                    <h4>Is Active </h4> 
                                    <h6>
                                        {% if twilio.is_active %}
                                        <span  class="badge bg-success">Active</span>
                                        {% else  %}
                                        <span class="badge bg-secondary">Inactive</span>
                                        {% endif %}
                                    </h6>
                                </li>

                                {% if  twilio.created_on %}
                                <li>
                                    <h4>Created On </h4>
                                    <h6>
                                        <script>
                                            var date = ConvertDateTime("{{ twilio.created_on|date:'Y-m-d' }}", "{{ twilio.created_on|time:'H:i' }}");
                                            document.write(date);
                                        </script>
                                    </h6>
                                </li>
                                {% endif %}
                                
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "admin-includes/footer.html" %}
